<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    {{>header doctorActiveClass="active"}}
    <section id="appointment-table table">
        <table>
            <caption>Doctor Table</caption>
                <tr>
                    <th>Doctor Name</th>
                    <th>Doctor Id</th>
                    <th>Doctor Degree</th>
                    <th>Doctor Specilization</th>
                    <th>Doctor Fees</th>
                </tr>
                {{#each data}}
                <tr>
                    
                    <td>{{this.doctorName}}</td>
                    <td>{{this.doctorId}}</td>
                    <td>{{this.doctorDegree}}</td>
                    <td>{{this.doctorSpecilization}}</td>
                    <td>{{this.doctorFees}}</td>

                </tr>
                {{/each}}
                
        </table>
        
    </section>
</body>
</html>